<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
<h1 th:text="Recipes">My Recipes</h1>
<table id="vets" class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Difficulty</th>
        <th>Cook Time required:</th>
        <th>Notes:</th>
        <th>Ingredients:</th>
        <th>Direction</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="recipe : ${recipes}">
        <td th:text="${recipe.id}">123</td>
        <td th:text="${recipe.description}">Tasty Goodnees</td>
        <td th:text="${recipe.getDifficulty()}">Tasty Goodnees</td>
        <td th:text="${recipe.getCookTime()}">Tasty Goodnees</td>
        <td th:text="${recipe.getNotes()}">Tasty Goodnees</td>
        <td th:text="${recipe.getIngredients()}">Tasty Goodnees</td>
        <td th:text="${recipe.getDirections()}">Tasty Goodnees</td>
    </tr>

    </tbody>
</table>
</body>
</html>